.theatre{
  margin:5px 200px;
  width:700px;
  height:500px;
  position:relative;
  /*border-style: solid;
   border-width: 5px;*/
}

.theatre .header{

  margin:0px;
  width: 690px;
  height:60px;
  position: relative;
  /*border-color: red;
  border-style: solid;
   border-width: 5px;*/
}

.theatreTable{

  margin:10px;
}

.glyphicon-film{
  color: darkblue;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #136af7!important;
  color: white!important;
}
.nav>li{
  margin-left: 5px!important;
}
